@using System.Collections
@model Demo.Models.UserModel

@using (Html.BeginForm("UserAddEdit", "User", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.UserID)

    <div class="mb-3">
        @Html.LabelFor(model => model.UserName, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Enter User Name" })
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Email, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Enter Email" })
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Password, new { @class = "form-label" })
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter Password" })
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.PhoneNo, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control", placeholder = "Enter PhoneNo Number", pattern = "[0-9]{10}" })
        <span asp-validation-for="PhoneNo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Age, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.Age, new { @class = "form-control", placeholder = "Enter Age", type = "number", min = "1" })
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Gender</label><br />
        <div class="form-check form-check-inline">
            @Html.RadioButtonFor(model => model.Gender, "Male", new { @class = "form-check-input", id = "genderMale" })
            <label class="form-check-label" for="genderMale">Male</label>
        </div>
        <div class="form-check form-check-inline">
            @Html.RadioButtonFor(model => model.Gender, "Female", new { @class = "form-check-input", id = "genderFemale" })
            <label class="form-check-label" for="genderFemale">Female</label>
        </div>
        <div class="form-check form-check-inline">
            @Html.RadioButtonFor(model => model.Gender, "Other", new { @class = "form-check-input", id = "genderOther" })
            <label class="form-check-label" for="genderOther">Other</label>
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Hobbies, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.Hobbies, new { @class = "form-control", placeholder = "Enter Hobbies (comma-separated)" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Image, new { @class = "form-label" })
        @* @Html.TextBoxFor(model => model.Image, new { @class = "form-control", placeholder = "Enter Image URL" })? *@
        <input type="file" asp-for="Image" class="form-control">

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}


<table class="table table-border">
    <tr>
        <td>UserName</td>
        <td>Email</td>
        <td>Password</td>
        <td>PhoneNo</td>
        <td>Age</td>
        <td>Gender</td>
        <td>Hobbies</td>
        <td>Image</td>
    </tr>

    <tr>
        <td>@ViewBag.UserName</td>
        <td>@ViewBag.Email</td>
        <td>@ViewBag.Password</td>
        <td>@ViewBag.PhoneNo</td>
        <td>@ViewBag.Age</td>
        <td>@ViewBag.Gender</td>
        <td>@ViewBag.Hobbies</td>
        <td><img src="~/@ViewBag.ImagePath" alt="User Profile Image" style="width:100px;height:auto;" /></td>
    </tr>
</table>


@* @section Scripts {  
    @RenderSection("Scripts", required: false)  
} *@
